h1{
    width: -webkit-fit-content;
    margin-bottom: 0.5em !important;
    background: linear-gradient(
45deg
, #371450, #eb2858);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 250%;
    margin: auto;
    font-family: 'Futura BQ',sans-serif;
}

.passengerList{
  
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    
    
  }

  @media (max-width: 700px) {
    
    .topHeroes h2 {
      margin:auto;
    }
  }